<p>product-list works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
  
</head>
<body>
  <div class="product-container" *ngFor="let product of products">
    <h3>
      <a class="name" [title]="product.name + ' details'">
        {{ product.name }}
      </a>
    </h3>

    <img [src]="product.image" alt="{{ product.name }}" width="250">

    <p class="description">
      Rating:  {{ product.rating }}
    </p>

    <p class="description">
      Description:  {{ product.description }}
    </p>

    <a [href]="'https://t.me/share/url?url=' + product.buyLink" 
        target="_blank" class="share-button">Telegram link
    </a>

    <a [href]="'https://web.whatsapp.com/' + product.buyLink" 
        target="_blank" class="share-button">Whatsapp link
    </a>

    <a [href]="product.buyLink" 
        target="_blank" class="buy-button">See in App
    </a>
  </div>

</body>
</html>