.description{
    font-size: 20px;
}
.name{
    font-size: 30px;
}
.share-button, .buy-button {
  background-color: #e81919;
  padding: 10px 15px;
  color: black; 
  font-weight: bold;
  text-decoration: none; 
  margin-right: 250px; 
  font-size: 18px;
}

.share-button:hover, .buy-button:hover {
  background-color: #b80f0f; 
}
.product-container {
    
    margin-bottom: 20px;
    padding: 15px; 
    box-sizing: border-box;
    vertical-align: top;
}