img {
  height: 100px;
}
.likes-container {
  display: flex;
}

.likes-container button {
  margin-left: 10px;
  height: 30px;
  background-color: tomato;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
